.bkgHome {
    background-image: url('../../assets/Mapa_mundi_blanco.PNG');
    width: 100vw;
    height: 100vh;
}
.filtros{
    background-color: transparent;
    color: black;
    font-family: cursive;
    font-size: 19px;

}
.filtros:hover{
    background-color:rgba(140, 168, 92, 0.493);
}
