.bkg{
    background-image: url('../../assets/Mapa_mundi_blanco.PNG');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    width: 100vw;
    height: 100vh;
}
.btn {
    
    padding: 5px 5px;
    color:rgba(19, 19, 160, 0.438);
    font-family: 'Tourney', cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 25px;
    outline: none;
    position: relative;
    transition: all 0.3s;
}
.btn:hover {
    background-color:rgba(140, 168, 92, 0.493);
    
   
}
.name {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-family: 'Tourney', cursive;
    font-size: 25px;
}
.inputs {
    border-color:black;
    
    font-family: Arial, Helvetica, sans-serif, red;
    background-color: transparent;
    font-size: 20px;
    
   
}
.inputs:hover {
    color: var(--btn-color);
    background-color:rgba(140, 168, 92, 0.493);
    
}
.option {
    font-family: 'Tourney', cursive;
    font-size: 20px;
}
.created {
    padding: 5px 5px;
    color:rgba(12, 12, 95, 0.438);
    font-family: 'Tourney', cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 20px;
    outline: none;
    position: relative;
    transition: all 0.3s;
}
.created:hover {
    color: rgba(30, 11, 83, 0.753);
}
.h1 {
    font-family: 'Tourney', cursive;
    font-size: 25px;
}
.select{
    background-color: transparent;
    color: black;
    font-family: cursive;
    font-size: 19px;

}
.select:hover{
    background-color:rgba(140, 168, 92, 0.493);
}

