.bkg{
    background-image: url('../assets/brett-zeck-eyfMgGvo9PA-unsplash.jpg');
    background-position:center;
      background-size:cover;
      background-repeat:no-repeat;
      width: 100vw;
      height: 100vh;
  }
  .btn{
      border: solid 2px rgba(0, 0, 0, 0.89);
      border-radius: 15px;
      width: 7rem;
      height: 3rem;
      font-size: 1.2rem;
      background-color: rgba(153, 147, 147, 0.507);
      transform: background-color 0.25s;
      cursor: pointer;
      color: black;
  }
  .btn:hover {
      background-color: rgba(14, 13, 13, 0.49);
  }