.bkg{
    background-image: url('../../assets/continenten.jpg');
    
    background-position:center;
      background-size:cover;
      background-repeat:no-repeat;
      width: 100vw;
      height: 100vh;
  }
  .btn{
      border: solid 2px rgba(0, 0, 0, 0.89);
      border-radius: 15px;
      width: 7rem;
      height: 3rem;
      font-size: 1.2rem;
      background-color: rgba(153, 147, 147, 0.507);
      transform: background-color 0.25s;
      cursor: pointer;
      color: white
  }
  .btn:hover {
      background-color: rgba(236, 108, 108, 0.055);
  }
  .h1 {
    display:block;
    justify-content: end;
    font-family: 'Tourney', cursive;;
    font-size: 75px;
    color: rgba(255, 255, 255, 0.801);
    
  }