.contenedor {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.li{
    display: inline;
    justify-content:space-between;
    text-align: center;
    padding: 5px 5px;
    
   
}

.btn {
    color: black;
    border-radius: 15px;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
    color: gray;
    background-color: rgba(27, 66, 54, 0.322);
    transition: 2ms;
}
.btn:focus{
    background-color:  rgba(25, 25, 121, 0.281);
}