.card {
   display: inline-flex;
   justify-self: start;
   justify-content:space-between;
   text-align: center;
   font-family: 'Tourney', cursive;
   font-size: 25px;
   margin-top: 25 px;
   width: 200 px;
   height: 254px;
   padding: 16px;
  
   
}
.card:hover {
   margin-top: -30px;
}
.img {
   width: 200px;
   height: 120px;
}
